@model MvcApplication1.Models.Puntuacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Puntuacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Actividad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actividad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Puntos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Puntos)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
