@model MvcApplication1.Models.Evento

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles @Html.DisplayFor(model => model.Titulo)</h2>

<fieldset>
    <legend>Evento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creador)
    </div>
    <div id="map"></div>
    <!--div class="display-label">
         @Html.DisplayNameFor(model => model.Latitud)
    <div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitud)
    </div>

    <div class="display-label">
         tml.DisplayNameFor(model => model.Zoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zoom)
    </div>-->
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Volver a Eventos", "Index")
</p>


<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 40, lng: 2},
            zoom: 8
        })
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADpOER-sITi0xLLrLoPhAMdIB3w1-GG_E&callback=initMap" async defer></script>
