@model MvcApplication1.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Edad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Edad) años
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sexo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contrasena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contrasena)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Foto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Facebook)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Facebook)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instagram)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instagram)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Twitter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Twitter)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id= Model.id }) 
</p>
